# 정렬

- 정렬 알고리즘은 커

버블정렬($n^2$), 삽입정렬($n^2$), 선택정렬($n^2$)

퀵정렬($nlogn$), 병합정렬($nlogn$), 힙정렬($nlogn$)

## 선택정렬
1. 주어진 데이터중, 최소값을 찾음
2. 해당 최소값을 데이터 맨 앞에 위치한 값과 교체함
3. 맨 앞의 위치를 뺀 나머지 데이터를 동일한 방법으로 반복함

## 버블정렬($O(n^2)$)

In [ ]:
def bubbleSort(x):
    length = len(x)-1
    for i in range(length):
        for j in range(length-i):
            if x[j] > x[j+1]:
                x[j], x[j+1] = x[j+1], x[j]
    return x

* 반복문이 두 개 O($n^2$)
  - 최악의 경우, <font size=5em>$\frac { n * (n - 1)}{ 2 }$</font>
* 완전 정렬이 되어 있는 상태라면 최선은 O(n)

## 삽입정렬
* 삽입 정렬은 두 번째 인덱스부터 시작
* 해당 인덱스(key 값) 앞에 있는 데이터(B)부터 비교해서 key 값이 더 작으면, B값을 뒤 인덱스로 복사
* 이를 key 값이 더 큰 데이터를 만날때까지 반복, 그리고 큰 데이터를 만난 위치 바로 뒤에 key 값을 이동

In [ ]:
def insert_sort(x):
    for i in range(1, len(x)):
        j = i - 1
        key = x[i]
        while x[j] > key and j >= 0:
            x[j+1] = x[j]
            j = j - 1
        x[j+1] = key
    return x

## 퀵정렬

In [ ]:
def quicksort(x):
    if len(x) <= 1:
        return x

    pivot = x[len(x) // 2]
    less = []
    more = []
    equal = []
    for a in x:
        if a < pivot:
            less.append(a)
        elif a > pivot:
            more.append(a)
        else:
            equal.append(a)

    return quicksort(less) + equal + quicksort(more)

## 병합정렬

In [ ]:
def mergeSort(myList):
    if len(myList) > 1:
        mid = len(myList) // 2
        left = myList[:mid]
        right = myList[mid:]

        # Recursive call on each half
        mergeSort(left)
        mergeSort(right)

        # Two iterators for traversing the two halves
        i = 0
        j = 0
        
        # Iterator for the main list
        k = 0
        
        while i < len(left) and j < len(right):
            if left[i] <= right[j]:
              # The value from the left half has been used
              myList[k] = left[i]
              # Move the iterator forward
              i += 1
            else:
                myList[k] = right[j]
                j += 1
            # Move to the next slot
            k += 1

        # For all the remaining values
        while i < len(left):
            myList[k] = left[i]
            i += 1
            k += 1

        while j < len(right):
            myList[k]=right[j]
            j += 1
            k += 1

## 눈으로 보자~
https://visualgo.net/en/sorting

## 파이썬 정렬

In [ ]:
sorted([5, 2, 3, 1, 4])

[1, 2, 3, 4, 5]

In [ ]:
a = [5, 2, 3, 1, 4]
a.sort()
a

[1, 2, 3, 4, 5]

In [ ]:
sorted({1: 'D', 2: 'B', 3: 'B', 4: 'E', 5: 'A'})

[1, 2, 3, 4, 5]

In [ ]:
dict = {'a' : 'A', 'b' : 'B'}

### sort()은 오직 리스트에서만 쓸수 있는 반면 sorted()함수는 어떤(Iterable)에서든 쓸 수 있다!

In [ ]:
dict.sort()

AttributeError: 'dict' object has no attribute 'sort'

In [ ]:
sorted(dict)

['a', 'b']

### Key Functions

In [ ]:
sorted("This is a test string from Andrew".split(), key=str.lower)

['a', 'Andrew', 'from', 'is', 'string', 'test', 'This']

In [ ]:
sorted("This is a test string from Andrew".split(), key=len)

['a', 'is', 'This', 'test', 'from', 'string', 'Andrew']

In [ ]:
student_tuples = [
...     ('john', 'A', 15),
...     ('jane', 'B', 12),
...     ('dave', 'B', 10),
]

sorted(student_tuples, key=lambda student: student[2])

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

- student[2]인 숫자를 기준으로 정렬

In [ ]:
class Student:
    def __init__(self, name, grade, age):
        self.name = name
        self.grade = grade
        self.age = age
    def __repr__(self):
        return repr((self.name, self.grade, self.age))

In [ ]:
student_objects = [
    Student('john', 'A', 15),
    Student('jane', 'B', 12),
    Student('dave', 'B', 10),
]

sorted(student_objects, key=lambda student: student.age)

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [ ]:
sorted(student_tuples, key = lambda x : x[2])

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [ ]:
sorted(student_tuples, key = lambda x: (x[1], x[2]))

[('john', 'A', 15), ('dave', 'B', 10), ('jane', 'B', 12)]

In [ ]:
sorted(student_tuples, key = lambda x: (x[1], -x[2]))

[('john', 'A', 15), ('jane', 'B', 12), ('dave', 'B', 10)]

#### 정렬하려는 대상이 숫자일 경우 ' - ' 를 통해 reverse와 같은 효과를 낼 수 있다

### Operator Module Functions
파이썬 내장함수를 이용하여 원하는 원소를 기준으로 정렬할 수 있다.

In [ ]:
from operator import itemgetter, attrgetter

In [ ]:
sorted(student_tuples, key=itemgetter(2))

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [ ]:
sorted(student_objects, key=attrgetter('age'))

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [ ]:
sorted(student_tuples, key=itemgetter(1, 2))

[('john', 'A', 15), ('dave', 'B', 10), ('jane', 'B', 12)]

In [ ]:
sorted(student_objects, key=attrgetter('grade', 'age'))

[('john', 'A', 15), ('dave', 'B', 10), ('jane', 'B', 12)]

### Ascending and Descending
- sort()와 sorted()는 모두 boolean값을 갖는 reverse 옵션을 갖고 있다. Default 값은 False로 오름차순이다!

In [ ]:
sorted(student_tuples, key=itemgetter(2), reverse=True)

[('john', 'A', 15), ('jane', 'B', 12), ('dave', 'B', 10)]

In [ ]:
sorted(student_objects, key=attrgetter('age'), reverse=True)

[('john', 'A', 15), ('jane', 'B', 12), ('dave', 'B', 10)]